server:
  port: 80

spring:
  application:
    name: yang-crowd-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: project
          uri: lb://yang-crowd-project
          predicates:
            - Path=/project/**
        - id: auth
          uri: lb://yang-crowd-auth
          predicates:
            - Path=/**

  redis:
    host: 192.168.234.128
  session:
    store-type: redis
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:1000/eureka/
