server:
  port: 7000

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:1000/eureka/

spring:
  application:
    name: yang-crowd-project
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
  main:
    allow-bean-definition-overriding: true
  redis:
    host: 192.168.234.128
  session:
    store-type: redis
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
ribbon:
  ReadTimeout: 3000
  ConnectTimeout: 3000